@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-primary-box: #1e3c7a;
  --color-secondary-box: #3162c4;
  --color-section-bars: #425478;
  --color-text: #fff;
  --color-text-shadow: #1d1c1a;
}

::selection {
  background: #89aef9;
  color: var(--color-text);
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Inter", "Poppins", Arial, sans-serif;
  font-size: 1.8rem;
  color: var(--color-text);
  text-shadow: 3px 3px var(--color-text-shadow);
}

/* Objects */
.flex-object {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.icons {
  font-size: 13.5rem;
  padding-top: 2.2rem;
  padding-bottom: 1.5rem;
  transition: all 0.25s ease-out;
}

.icons:hover {
  transform: scale(1.05);
}

/* Header */
.content header {
  background: var(--color-section-bars);
  font-size: 2.3rem;
  width: 100%;
  text-align: center;
}

.content h1 {
  margin-bottom: 1.5rem;
}

.content header h2 {
  font-size: 1.7rem;
  margin-top: 0;
  padding-bottom: 1rem;
}

/* Main */
.container {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
}

.container-box {
  width: 100%;
}

.container-box h2 {
  text-align: center;
  margin-bottom: 0;
}

.container-box p {
  width: 95%;
  line-height: 1.5;
  text-align: center;
  margin-top: 1rem;
  text-shadow: 2px 2px var(--color-text-shadow);
}

/* Box colors */
.primary-color-box {
  background: var(--color-primary-box);
}

.secondary-color-box {
  background: var(--color-secondary-box);
}

/* Footer */
.content footer {
  background: var(--color-section-bars);
  font-size: 1.2rem;
  width: 100%;
  text-align: center;
}

.content footer h3 {
  text-shadow: 2px 2px var(--color-text-shadow);
  margin-top: 1rem;
  margin-bottom: 1rem;
}
