@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

:root {
  --color-text: #fff;
}

html {
  font-size: 62.5%;
}

/* Objects */
.flex-object {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* Main */
