<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="The benefits of saving money. A web app for a performance task in my school."
    />
    <title>Benefits of Saving</title>
    <link rel="icon" href="/public/images/favicon.png" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <script
      src="https://kit.fontawesome.com/951cb45b31.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  </head>
  <body>
    <div class="content flex-object">
      <header class="flex-object">
        <h1>Benefits of Saving Money</h1>
        <h2>This page has been visited <%= data.visits %>!</h2>
      </header>
      <div class="container">
        <div class="container-box primary-color-box flex-object">
          <h2>Helps clear up uncertainty on emergencies</h2>
          <i class="fas fa-file-medical icons"></i>
          <p>
            This is quite important since anything can pretty much happen
            unexpectedly as the passage of time goes by. Having a fair amount of
            savings at your disposal can help reduce stress when thinking about
            financial emergencies that could occur in the future.
          </p>
        </div>
        <div class="container-box secondary-color-box flex-object">
          <h2>Prepares you for your future opportunities</h2>
          <i class="fas fa-briefcase icons"></i>
          <p>
            The future can be quite unpredictable. Having a reasonable amount of
            savings can prove to be quite handy when times of opportunity arrive
            at your doorstep. When they do arrive, your skill of managing your
            finances can be incredibly rewarding.
          </p>
        </div>
        <div class="container-box secondary-color-box flex-object">
          <h2>Enables you to upgrade your properties</h2>
          <i class="fas fa-house icons"></i>
          <p>
            Having a fair amount of cash at your disposal can be quite a luxury.
            With that, you'll be able to upgrade your properties like your
            house, car, and more.
          </p>
        </div>
        <div class="container-box primary-color-box flex-object">
          <h2>Allows you to make more calculated risks</h2>
          <i class="fas fa-calculator icons"></i>
          <p>
            Having a lot of savings at your disposal gives you more
            opportunities to take risks that could be profitable. Just be aware
            that having a lot of cash doesn't always justify reckless spending.
          </p>
        </div>
        <div class="container-box primary-color-box flex-object">
          <h2>Opens up opportunities for investments</h2>
          <i class="fas fa-piggy-bank icons"></i>
          <p>
            With a reasonable amount of cash at your disposal; you have the
            luxury of making investments in stocks and other things you may
            think that are profitable.
          </p>
        </div>
        <div class="container-box secondary-color-box flex-object">
          <h2>Gives you the option to afford further education</h2>
          <i class="fas fa-book icons"></i>
          <p>
            With enough savings, you can afford to get further education for
            your profession or for a skill. Whether that may be going to college
            or buying some courses on Udemy.
          </p>
        </div>
      </div>
      <footer class="flex-object">
        <h3>
          &copy; DragunWF |
          <a
            href="https://github.com/DragunWF/benefits-of-saving.netlify.app"
            target="_blank"
            >Source</a
          >
          | By Marc <b>[REDACTED]</b>
        </h3>
      </footer>
    </div>
    <script src="/public/js/main.js"></script>
  </body>
</html>
